.completed-todos{
    /* margin-top: 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed-todos span{
    font-size: 1.08rem;
    font-weight: bold;
    color: var(--todo-completed-text);
}

.completed-todos span:last-child{
    cursor: pointer;
}

.completed-todos span:last-child:hover{
    color: var(--todo-item-text);
}

@media screen and (min-width: 800px){
    .completed-todos span{
        font-size: 1.45rem;
        font-weight: 400;
    }
}