:root{
  --bright_blue: hsl(220, 98%, 61%);

  --Dark_Grayish_Blue: hsl(236, 9%, 61%);

  --main-background: hsl(0, 0%, 98%);
  --todo-item-background: #fff;
  --todo-item-text: #6e6e83;
  --todo-item-text-completed: hsl(233, 11%, 84%);
  --todo-circle: hsl(233, 11%, 84%);
  --todo-completed-text: hsl(236, 9%, 61%);
  --todo-border: var(--main-background);
  --todo-border-size: 2px;
  --circle-bg: linear-gradient(var(--todo-item-background), var(--todo-item-background)), linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

body.theme-dark{
  --main-background: #171723;
  --todo-item-background: #25273c;
  --todo-item-text: #c6c8e1;
  --todo-item-text-completed: hsl(234, 11%, 52%);
  --todo-circle: #2e3045;
  --todo-completed-text: hsl(236, 9%, 61%);
  --todo-border: var(--todo-circle);
  --todo-border-size: 1px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Josefin Sans', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1.8rem;
  background-color: var(--main-background);
  user-select: none;
  min-height: 100vh;
}