:root{
  --bright_blue: hsl(220, 98%, 61%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Light_Grayish_Blue: hsl(233, 11%, 84%);
  --Dark_Grayish_Blue: hsl(236, 9%, 61%);
  --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
  --main-background: hsl(0, 0%, 98%);
  --todo-item-background: #fff;
  --todo-item-text: #6e6e83;
  --todo-item-text-completed: hsl(233, 11%, 84%);
  --todo-circle: hsl(233, 11%, 84%);
  --todo-completed-text: hsl(236, 9%, 61%);
  --todo-border: var(--main-background);
  --todo-border-size: 2px;
}

body.theme-light{
  --main-background: hsl(0, 0%, 98%);
  --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Light_Grayish_Blue: hsl(233, 11%, 84%);
  --Dark_Grayish_Blue: hsl(236, 9%, 61%);
  --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
}

body.theme-dark{
  --main-background: #171723;
  --todo-item-background: #25273c;
  --todo-item-text: #c6c8e1;
  --todo-item-text-completed: hsl(234, 11%, 52%);
  --todo-circle: #2e3045;
  --todo-completed-text: hsl(236, 9%, 61%);
  --todo-border: var(--todo-circle);
  --todo-border-size: 1px;

  --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
  --Light_Grayish_Blue: hsl(234, 39%, 85%);
  --Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
  --Dark_Grayish_Blue: hsl(234, 11%, 52%);
  --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
  --Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Josefin Sans', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1.8rem;
  background-color: var(--main-background);
  user-select: none;
}